* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #EAEAF4;
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

h1 {
  padding-left: 10px;
}

aside {
  font-family: "Open Sans";
  background-color: #1F1F3D;
  color: #FFFFFF;
  width: 20%;
  flex-direction: column;
}

aside>h4 {
  padding-left: 1rem;
}

label {
  font-family: "Open Sans";
  font-weight: bold;
  justify-content: left;
}

.form-container {
  width: 80%;
}

.filter-starred-ideas {
  font-family: "Open Sans";
  font-weight: lighter;
  padding: .5rem;
  width: 100%;
  border-top: 1px solid #353567;
  border-bottom: 1px solid #353567;
}

.starred-idea-button {
  background-color: #5356A4;
  color: #E9E9F3;
  border: 0px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}

.main-page-form {
  font-family: 'Open Sans';
  font-weight: 100;
  color: #1F1F3D;
  background-color: #A9AAD2;
  border: 1px solid black;
  height: 45%;
  padding-top: 50px;
}

.search-container {
  display: flex;
  padding-top: 10px;
  display: flex;
}

.search-box {
  width: 100%;
  height: 25px;
}

.main-input-title {
  border: 1px solid #353567;
  border-radius: 1px;
  height: 25px;
}

.main-input-body {
  border: 1px solid #353567;
  border-radius: 1px;
  height: 20%;
  resize: none;
}

.main-input-save {
  /* fix font thickness */
  font-family: 'Open Sans', Bold;
  font-weight: bold;
  /* color darker? */
  background-color: #1F1F3D;
  color: #EAEAF4;
  width: 100%;
  border-radius: 3px;
  margin-top: 0.75rem;
}

.main-input-save:disabled {
  background-color: gray;
  cursor: not-allowed;
}


.search-icon {
  color: white;
  padding: 2px;
  background-color: #1F1F3D;
  width: 22px;
  height: 25px;
}

.idea-container {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.box-container {
  height: 17rem;
  width: 15rem;
  margin: 10px 10px 10px 10px;
  border: 1px solid #353567;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.box-header-container {
  background-color: #1F1F3D;
  display: flex;
  height: 2.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.star-btn {
  background-color: #1F1F3D;
  width: 2.5rem;
  border: 0;
}

.delete-btn {
  background-color: #1F1F3D;
  width: 2.5rem;
  border: 0;
}

.title-body-container {
  height: 12rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: 19px;
}

.idea-title {
  margin: 15px 10px 0px 10px;
}

.idea-body-container {
  margin: 0px 10px 10px 10px;
  height: 8rem;
  font-family: "Open Sans";
  font-size: 20px;
  word-wrap: break-word;
}

p {
  margin-block-start: .25;
  margin-block-end: 0;
}

.box-footer-container {
  width: 100%;
  height: 2.5rem;
  background-color: #5356A4;
  display: flex;
  align-items: center;
}

.comment-btn {
  background-color: transparent;
  height: 2.5rem;
  width: 2.5rem;
  border: 0;
  padding: 0;
}

.comment-label {
  color: white;
  font-size: 1.1rem;
}

.form-element {
  width: 60%;
  display: block;
  margin: auto;
}

.hidden {
  display: none !important;
}
