* {
  font-family: 'Open Sans';
}
/* .container{
  display: flex;
} */

.filter-starred-ideas {
  border: 2px solid white;
}
.sidebar {
  background-color: #1F1F3D;
  color:#FFFFFF;
  width: 300px;
  position: fixed;
  height: 100%;
}

.main-page-form {
    font-family: 'Open Sans';
    font-weight: 100;
    color: #1F1F3D;
    background-color: #A9AAD2;
    border: 1px solid black;
    margin-left: 300px;
}

.main-input-box {
  border: 1px solid #E9E9F3;
  border-radius: 1px;
}

.main-input-save {
  /* fix font thickness */
  font-family: 'Open Sans', Bold;
  font-weight: bold;
/* color darker? */
  background-color: #1F1F3D;
  color: #EAEAF4;
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 3px;
}

.main-search {
  color: white;
  background-color: #1F1F3D;
  width: 10px;
  height: 10px;
}

.idea-grid {
  background-color: #EAEAF4;
  display: grid;
  grid-template-columns: 1fr 7fr;

}

.box {
  height: 100px;
  width: 100px;
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
}
